@import './base.css';

#content {
  view-transition-name: content;
  max-height: calc(100vh - 5rem);
}
@view-transition {
  navigation: auto;
}

h1 {
  font-size: 2em;
}

header {
  padding: calc(var(--spacing) * 4);
  background-color: var(--background-50);
  box-shadow: 0px 1px 5px var(--primary-100);
  border-bottom: 1px solid var(--primary-100);
  clip-path: inset(-5px 0px);
}

main {
  max-width: 764px;
  margin: calc(var(--spacing) * 5);
}
nav {
  max-width: 764px;
  margin: 0 auto;
}

#app {
  max-width: 764px;
  margin: 0 auto;
  font-weight: normal;
  overscroll-behavior: none;
}

@media (min-width: 1024px) {
  #app {
    display: grid;
  }
}

/* here we customize the transition, these are the shared styles for the old and new view*/
::view-transition-new(content),
::view-transition-old(content) {
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-direction: normal;
  overflow: hidden;
}

/* old view slides out to the left */
::view-transition-old(content) {
  animation-name: slide-out;
  overflow: hidden;
  max-height: 100%;
}

/* new view slides in from the right */
::view-transition-new(content) {
  animation-name: slide-in;
  mix-blend-mode: normal;
  overflow: hidden;
}

/* class "back-transition" is added to the html element 
 * to customize the back transition 
 * new view
 */
.back-transition::view-transition-new(content) {
  animation-name: slide-out-reverse;
  overflow: hidden;
}

/* customized back transition for old view */
.back-transition::view-transition-old(content) {
  animation-name: slide-in-reverse;
  mix-blend-mode: normal;
  z-index: 1;
  overflow: hidden;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-20%);
    opacity: 0;
  }
}

@keyframes slide-out-reverse {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-reverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
